header {
  position: relative;
  width: 100%;
  z-index: 1;
}
.nav-header {
  background-color: #f1f1f1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.nav-header__title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.nav-header__title {
  color: coral;
  font-weight: 900;
  font-style: italic;
  padding-right: 8px;
  font-size: 32px;
}
.nav-header__logo-icon {
  fill: coral;
}
.nav-header__search {
  width: 50%;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #414141;
}

.nav-header__search::placeholder {
  color: #cacaca;
}

.nav-categories__lists {
  margin: 0;
  background-color: coral;
  color: white;
  height: auto;
  min-height: 50px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  text-transform: uppercase;
  font-weight: 400;
}

.nav-categories__list {
  cursor: pointer;
  padding: 4px 8px;
  border-radius: 8px;
  margin: 6px;
}
.nav-categories__list:hover {
  text-shadow: 0px 0px 10px white;
}

.nav-header__btn {
  cursor: pointer;
  padding: 4px 8px;
  border-radius: 8px;
  border: none;
  background-color: coral;
  color: #f1f1f1;
}
.nav-header__btn:hover {
  background-color: rgb(248, 98, 44);
}
.nav-header__car-icon {
  cursor: pointer;
  margin: 16px 0px;
}
.nav-header__car-icon:hover {
  fill: coral;
}

@media (min-width: 768px) {
  header {
    position: fixed;
    width: 100%;
    z-index: 1;
  }
  .nav-header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .nav-categories__lists {
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
  }
}
